{% extends "main/layout.html" %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/style_categories.css' %}"/>
{% endblock %}

{% block content %}
<main class="page-container">
  <div class="categories-section">
    <div class="section-header">
      <h1 class="section-title">Все категории</h1>
      <button class="add-categories-btn" onclick="window.location.href='{% url 'add_category' %}'">
        <i>+</i> Добавить категорию
      </button>
    </div>

    <div class="categories-grid">
      {% for category in categories %}
      <div class="category-card">
        <a href="{% url 'category_detail' category_id=category.id %}" class="card-link">
          <div class="card-content">
            <div class="category-details">
              <h3 class="category-title">{{ category.category_name }}</h3>
              <p class="category-description">{{ category.description|default:"Описание отсутствует"|truncatechars:100 }}</p>
              <div class="category-meta">
                <span class="courses-count">{{ category.course_count }} курсов</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <div class="no-categories">
        <p>Категории не найдены.</p>
        <a href="{% url 'add_category' %}" class="add-categories-btn">Добавить категорию</a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}